#pt-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
}
p{
    margin-bottom: 2%;
}
#pt-banner{
    background-image: url(../image/inner/PT-image-via-OriGym.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.7; */
    align-items: center;
    display: flex;
    justify-content: center;
    /* background-attachment: fixed; */
}
#pt-left-p1{
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}
#pt-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
ul{
    padding-left: 1.5%;
}
ul li{
    margin-bottom: 1%;
}
#pt-left-p2{
    font-weight: 900;
    font-size: 35px;
}
#pt-img{
    border-radius: 3%;
    height: 80vh;
    margin-bottom: 2%;
    width: 30vw;
}
#pt-a{
    text-decoration: none;
    font-size: large;
    color: #FF3F0C;
    font-weight: 900;
}
#submit{
    cursor: pointer;
}
#submit:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: 1px 1px 1px 0px;
    transition: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}
#pt-right{
    flex-direction: column;
    background-color: rgb(220, 235, 248);
    border-radius: 2%;
    padding: 2%;
    margin-top: 2%;
    flex-wrap: wrap;
    display: flex;
}
input,#form{
    
    margin: 2%;
    
}
#pt-p-6{
    text-transform: uppercase;
    color: black;
    margin: 2%;
}